.clients {
		padding-top: 11.4rem;
		padding-bottom: 10rem;
		position: relative;

		@include respond(phone) {
			padding-top: 5.5rem;
			padding-bottom: 5rem;
		}

	&__items {
		@include flex-wrap(wrap);
		color: $color-davy-gray;
	}

	&__icon {
		max-width: 100%;

		&:not(:last-child) {
			margin-right: 6.1rem;
		}

		@include respond(phone) {
			
			&:not(:last-child) {
				margin-right: 2.1rem;
				margin-bottom: 2rem;
			}
			
		}
	}

	&__info {
		text-align: center;
		max-width: 76rem;
		margin: 0 auto;
		color: $color-davy-gray;

		&_text {
			display: block;
			font-size: 1.8rem;
			font-style: italic;
			line-height: 3rem;
		}

		&_name  {
			display: block;
			font-size: 2rem;
		}

	}

	&__circle {
		width: 1.3rem;
		height: 1.3rem;
		margin: 0 auto;
		border-radius: 50%;
		background-color: red;
	}
}