.container {
	width: 100%;
	max-width: 114rem;
	margin: 0 auto;
	padding: 0 2rem;
   
	@include respond(tab-land) {
		max-width: 97rem;
	}

	@include respond(tab-port) {
		max-width: 85rem;
	}

	@include respond(phone) {
		max-width: none;
	}

	@include respond(laptop-big) {
		width: 138rem;
	}

	@include respond(laptop-huge) {
		width: 169rem;
	}
}

