.footer {
	@include padding-section;
	background-color: $color-light-red;

	&__media {
		@include display-flex;
		position: relative;

		&::before {
		content:"";
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 48%;
		width: 5rem;
		height: 1rem;
		border-bottom: 2px solid $color-white;
		transform: translateY(2.9rem);
		}


		@include respond(phone) {
			&::before {
				content: none;
			}
		}
	}

	&__shape {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		border: 2px solid $color-white;
		@include display-flex;

		&:not(:last-child) {
			margin-right: 1.4rem;
		}

		@include respond(phone) {
			width: 4rem;
			height: 4rem;
		}

	}

	&__icon {
		width: 1.6rem;
		height: 1.2rem;
		fill: $color-white;
	}
}