.latest-work {
    @include padding-section;

    @include respond(phone) {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }


    &__title {
        text-align: center;
    }

    &__items {
        @include display-flex;
    }

    &__link:link,
    &__link:visited {
        list-style: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-decoration: none;
        color: $color-davy-gray;
        transition: all .3s ease-in-out;

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include respond(tiny-phone) {
                margin-right: 1.2rem;
            }
        }

        @include respond(phone) {
            font-weight: 600;
            font-size: 88%;
        }


        @include respond(tiny-phone) {
            font-size: 88%;
            font-weight: 500;
        }


        &:hover {
            color: $color-light-red;
            transform: scale(1.1);
        }
    }
}

// active class for tab links
.latest-work__items .latest-work__link.active {
    color: $color-dark-red;
}
