.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.8);
    z-index: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;

    &__close {
        position: absolute;
        top: 20%;
        right: 20%;
        font-size: 3.4rem;
        font-weight: 500;
        padding: 1.5rem 2.2rem;
        background-color: $color-light-orange;
        color: $color-white;
        border-radius: 50%;
        transition: all .5s ease;

        @include respond(tab-port) {
            top: 10%;
            right: 8%;
        }


        &:hover {
            background-color: $color-light-green;
            color: $color-dark-red;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__content {
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
        transition: all .5s ease;

        @include respond(tab-port) {
            min-width: 82%;
            width: 79%;
            margin: 0 auto;
        }


        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.lightbox.show {
    opacity: 1;
    visibility: visible;
}

.lightbox.hide {
    opacity: 0;
    visibility: hidden;
}
