.slider {
    &__info {
        @include flex-direction(column);

        &:not(:last-child) {
            margin-right: 3rem;
        }

        @include respond(phone) {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__img {
        & > * {
            max-width: 100%;
        }

        @include respond(phone) {
            & > * {
                max-width: 100%;
            }
        }
    }

    &__icon {
        width: 3.5rem;
        height: 3.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: red;
    }

    &__slide-pointer {
        width: 1rem;
        height: 1.4rem;
        position: absolute;
    }

    &--left {}

    &--right {}
}
