.slider {
    &__info {
        @include flex-direction(column);

        &:not(:last-child) {
            margin-right: 3rem;
        }

        @include respond(tab-port) {
            align-items: stretch;
        }


        @include respond(phone) {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__img {
        position: relative;

        & > * {
            max-width: 100%;
        }

        @include respond(tab-port) {
            & > * {
                width: 100%;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-davy-gray, 0.5);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: all .3s ease-in;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        @include respond(phone) {
            opacity: 1;
        }
    }

    &__media-link-shape {
        transform: translateY(-3.9rem);
    }

    &__media-link {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        fill: #fff;
        padding: 6px 10px;
        transition: all .5s ease;

        &:hover {
            background-color: $color-dark-red;
            cursor: pointer;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 38%;
    color: $color-white;
    padding: 1.2rem 1.6rem;
    transition: all .5s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.swiper-button-prev {
    background-color: rgba($color-davy-gray, 0.2);
    left: 0;

    @media only screen and (max-width: 1024px) {
        left: 7px;
    }

    @include respond(tab-port) {
        left: 0;
    }


    @include respond(laptop-big) {
        left: 2.5rem;
    }


    @include respond(laptop-huge) {
        left: 4rem;
    }
}

.swiper-button-next {
    background-color: $color-light-red;
    right: 0;

    @media only screen and (max-width: 1024px) {
        right: 7px;
    }

    @include respond(tab-port) {
        right: 0;
    }


    @include respond(laptop-big) {
        right: 2.5rem;
    }


    @include respond(laptop-huge) {
        right: 4rem;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.3rem;
}


