.slider {
    &__info {
        @include flex-direction(column);

        &:not(:last-child) {
            margin-right: 3rem;
        }

        @include respond(tab-port) {
            align-items: stretch;
        }


        @include respond(phone) {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__img {
        & > * {
            max-width: 100%;
        }

        @include respond(tab-port) {
            & > * {
                width: 100%;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 38%;
    color: $color-white;
    padding: 1.2rem 1.6rem;
}

.swiper-button-prev {
    background-color: $color-davy-gray;
    left: 0;

    @media only screen and (max-width: 1024px) {
        left: 7px;
    }

    @include respond(tab-port) {
        left: 0;
    }


    @include respond(laptop-big) {
        left: 2.5rem;
    }


    @include respond(laptop-huge) {
        left: 4rem;
    }
}

.swiper-button-next {
    background-color: $color-light-red;
    right: 0;

    @media only screen and (max-width: 1024px) {
        right: 7px;
    }

    @include respond(tab-port) {
        right: 0;
    }


    @include respond(laptop-big) {
        right: 2.5rem;
    }


    @include respond(laptop-huge) {
        right: 4rem;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.3rem;
}
