.heading-1 {
    color: $color-white;
    text-align: center;

    @include respond(tab-port) {
        max-width: none;
    }


    &--main {
        display: block;
        font-size: 4.8rem;
        font-weight: 400;
        text-transform: uppercase;
        animation: bounceInLeft 1.2s ease-in .1s;

        @include respond(phone) {
            font-size: 3.7rem;
        }
    }

    &--sub {
        font-size: 2rem;
        display: block;
        font-weight: 400;
        letter-spacing: .33rem;
        animation: bounceInRight 1.2s ease-in .2s;

        @include respond(phone) {
            font-size: 1.6rem;
        }
    }
}

.heading-2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: Montserrat;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: $color-davy-gray;
    position: relative;

    @include respond(phone) {
        font-weight: 700;
    }


    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 48%;
        width: 5rem;
        height: 1rem;
        border-bottom: 2px solid $color-davy-gray;
        transform: translateY(2.9rem);

        @include respond(phone) {
            content: none;
        }
    }

    &--white {
        font-size: 3rem;
        font-weight: 400;
        line-height: 4.4rem;
        color: $color-white;
        text-align: center;

        & > * {
            display: block;
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }
}

.heading-3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    font-family: Montserrat;
    animation: swing 1s ease-out 1s 4;

    &_small {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-transform: uppercase;
        color: $color-davy-gray;
        animation: none;
        text-align: center;

        @include respond(phone) {
            font-weight: 700;
        }
    }

    &_red {
        font-size: 1.6rem;
        line-height: 2.4rem;
        transition: all .3s;

        &:hover {
            color: $color-light-red;
        }
    }

    &--white {
        font-size: 2rem;
        line-height: 2.4rem;
        color: $color-white;
        animation: none;
    }
}

.heading-4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: $color-davy-gray;

    &--uppercase {
        text-transform: uppercase;
        line-height: 3rem;
        font-family: Montserrat;
        font-weight: 600;

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &--white {
        font-size: 1.2rem;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
    }
}

.heading-5 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: $color-davy-gray;
    text-align: center;

    &_colored {
        color: $color-grey;
        font-size: 1.6rem;

        span {
            color: $color-light-red;
            font-style: italic;
        }
    }

    &--white {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: $color-white;
        text-align: center;
    }
}
