.margin-bottom-smallest {
	margin-bottom: 1.7rem;
}

.margin-bottom-smallest2 {
	margin-bottom: 1.9rem;
}

.margin-bottom-smaller{
	margin-bottom: 2.4rem;

	@include respond(phone) {
		margin-bottom: 1rem;
	}
}

.margin-bottom-small {
	margin-bottom: 3rem;

	@include respond(phone) {
		margin-bottom: 1.5rem;
	}
}

.margin-bottom-small2 {
	margin-bottom: 3rem;
}

.margin-bottom-small3 {
	margin-bottom: 4rem;
}

.margin-bottom-bigger {
	margin-bottom: 5.3rem;

	@include respond(phone) {
		margin-bottom: 3.3rem;
	}
}


.margin-bottom-medium {
	margin-bottom: 6rem;

	@include respond(phone) {
			margin-bottom: 3rem;
		}
}

.margin-bottom-medium2 {
	margin-bottom: 7rem;

		@include respond(phone) {
			margin-bottom: 4rem;
		}	
}

.margin-bottom-big {
	margin-bottom: 8.4rem;

	@include respond(phone) {
			margin-bottom: 4rem;
		}
}
