// Colors 

$color-black: #000000;
$color-davy-gray: #555555;
$color-gainsboro: #dddddd;
$color-silver: #bbbbbb;
$color-grey: #777777;

$color-white: #fff;
$color-white-smoke: #f8f8f8;

$color-light-red: #c0301c;
$color-dark-red: #ff0000;

$color-light-green: #90ee90;
$color-light-orange: rgba(255,119,48,0.8);




